@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Noto Serif", sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

h2 {
  color: #9b2c05;
  font-size: 2rem;
  text-align: center;
}
@media (max-width: 950px) {
  h2 {
    font-size: 1.6rem;
  }
}

p {
  font-weight: 300;
  font-size: 1.1rem;
  color: #502718;
}
@media (max-width: 950px) {
  p {
    font-size: 1rem;
  }
}

h6 {
  font-weight: 600;
  font-size: 1.1rem;
  color: #502718;
}
@media (max-width: 950px) {
  h6 {
    font-size: 1rem;
  }
}

.a_button {
  text-decoration: none;
  background-color: #9b2c05;
  padding: 0.5rem 1rem;
  color: #f3f1ef;
  font-weight: 600;
  font-size: 1rem;
  width: -moz-min-content;
  width: min-content;
  white-space: nowrap;
  color: white;
  border-radius: 0.3rem;
}

h3 {
  color: #9b2c05;
  font-size: 1.4rem;
  text-align: center;
}
@media (max-width: 950px) {
  h3 {
    font-size: 1.25rem;
  }
}

h4 {
  text-align: center;
  color: #9b2c05;
  font-size: 1.14rem;
}

h5 {
  color: #9b2c05;
  text-align: center;
  margin: 3rem auto;
  font-size: 2rem;
  font-weight: 300;
}
@media (max-width: 600px) {
  h5 {
    font-size: 1.4rem;
  }
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 2em;
  padding-right: 2em;
}
@media (max-width: 700px) {
  .inner {
    padding-left: 1em;
    padding-right: 1em;
  }
}

.current {
  font-weight: 700;
}

.responsive_nav {
  transform: translateX(105%);
}

header {
  background-color: #f3f1ef;
}
header nav {
  display: flex;
  justify-content: space-between;
  height: 6.5rem;
}
@media (max-width: 950px) {
  header nav {
    height: 4rem;
  }
}
header nav .mobile_language {
  display: none;
  flex-direction: column;
  justify-content: center;
  gap: 0.1rem;
}
@media (max-width: 950px) {
  header nav .mobile_language {
    display: flex;
  }
}
header nav .mobile_language img {
  width: 4rem;
}
header nav .mobile_language div {
  display: flex;
  justify-content: space-between;
}
header nav .mobile_language div a {
  font-size: 0.8rem;
  font-weight: 700;
  margin: 0;
}
header nav .hamburger {
  cursor: pointer;
  display: none;
  width: 4rem;
  height: 100%;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  gap: 0.3rem;
}
@media (max-width: 950px) {
  header nav .hamburger {
    display: flex;
  }
}
header nav .hamburger div {
  background-color: #9b2c05;
  height: 3px;
  width: 27px;
}
@media (max-width: 950px) {
  header nav .link {
    display: none;
  }
}
@media (max-width: 950px) {
  header nav #jazyk {
    display: none;
  }
}
header nav a,
header nav .lang {
  color: #9b2c05;
  text-decoration: none;
  align-self: flex-end;
  margin-bottom: 1rem;
}
header nav .lang {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
header nav .lang a {
  margin-bottom: 0;
}
header nav .lang .language {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}
header nav .lang .language img {
  width: 4rem;
}
header nav .lang .language div {
  display: flex;
  justify-content: space-between;
}
header nav .lang .language div a {
  font-size: 0.8rem;
  font-weight: 700;
}
header nav .nav_logo {
  position: relative;
  cursor: pointer;
}
header nav .nav_logo .skryte {
  visibility: hidden;
  position: relative;
}
header nav .nav_logo img {
  top: 0;
  left: 0;
  position: absolute;
  height: 130%;
  z-index: 100;
}
header .sub_header {
  height: 0.4rem;
  width: 100%;
  background-image: linear-gradient(to right, #e39f88, #964b25, #e39f88, #964b25, #e39f88, #964b25, #e39f88);
}
header .open {
  transform: translateX(0%);
}
header .responsive_nav {
  transition: 1s;
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #f3f1ef;
  padding-left: 1em;
  padding-right: 1em;
  box-sizing: border-box;
}
header .responsive_nav .close {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
header .responsive_nav .close .cross {
  cursor: pointer;
  margin-top: 1rem;
  margin-right: 1rem;
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
header .responsive_nav .close .cross div {
  position: absolute;
  background-color: #9b2c05;
  height: 3px;
  width: 30px;
  transform: rotate(45deg);
}
header .responsive_nav .close .cross div:first-child {
  transform: rotate(-45deg);
}
header .responsive_nav ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.4rem;
}
header .responsive_nav ul li {
  list-style: none;
}
header .responsive_nav ul li a {
  color: #9b2c05;
  text-decoration: none;
  font-size: 1.2rem;
}

.banner {
  display: flex;
  position: relative;
}
@media (max-width: 1000px) {
  .banner {
    flex-direction: column-reverse;
  }
}
.banner .left {
  background-color: #502718;
  width: calc(50% - 9rem);
  height: 23rem;
}
@media (max-width: 1000px) {
  .banner .left {
    width: 100%;
    height: auto;
    padding: 2rem 0;
  }
}
.banner .left .banner_mobile {
  display: none;
  flex-direction: column;
  justify-content: center;
  gap: 2.2rem;
  align-items: flex-start;
}
@media (max-width: 650px) {
  .banner .left .banner_mobile {
    gap: 1.5rem;
  }
}
.banner .left .banner_mobile h1 {
  color: #f3f1ef;
  font-size: 1.9rem;
  text-align: center;
}
@media (max-width: 650px) {
  .banner .left .banner_mobile h1 {
    font-size: 1.7rem;
  }
}
.banner .left .banner_mobile a {
  display: flex;
  text-decoration: none;
  align-items: center;
  gap: 1rem;
  background-color: #9b2c05;
  padding: 0.5rem 1rem;
}
.banner .left .banner_mobile a p {
  color: #f3f1ef;
  font-weight: 700;
  font-size: 1.08rem;
}
@media (max-width: 650px) {
  .banner .left .banner_mobile a p {
    font-size: 1rem;
  }
}
.banner .left .banner_mobile a img {
  height: 1.6rem;
}
@media (max-width: 1000px) {
  .banner .left .banner_mobile {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.banner .right {
  flex: 1;
  height: 23rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
@media (max-width: 1000px) {
  .banner .right {
    width: 100%;
    flex: none;
  }
}
@media (max-width: 700px) {
  .banner .right {
    height: 15rem;
  }
}
.banner .right .half_circle {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
@media (max-width: 1000px) {
  .banner .right .half_circle {
    display: none;
  }
}
.banner .right .half_circle .base {
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 3rem;
}
.banner .right .half_circle .base .circle {
  position: absolute;
  top: 50%;
  height: 150%;
  width: 600%;
  border-radius: 50%;
  background-color: #502718;
  transform: translate(-85%, -50%);
}
.banner .right img {
  height: 100%;
}
.banner .content_r {
  width: 100%;
  height: 23rem;
  position: absolute;
}
@media (max-width: 1000px) {
  .banner .content_r {
    display: none;
  }
}
.banner .content_r .bannner_content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.2rem;
  align-items: flex-start;
}
.banner .content_r .bannner_content h1 {
  color: #f3f1ef;
  font-size: 2rem;
}
.banner .content_r .bannner_content a {
  display: flex;
  text-decoration: none;
  align-items: center;
  gap: 1rem;
  background-color: #9b2c05;
  padding: 0.5rem 1rem;
}
.banner .content_r .bannner_content a p {
  color: #f3f1ef;
  font-weight: 700;
  font-size: 1.08rem;
}
.banner .content_r .bannner_content a img {
  height: 1.6rem;
}

.ponuka {
  background-color: #f4c4b8;
  padding-top: 2.8rem;
  padding-bottom: 2.45rem;
}
.ponuka .content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
}
@media (max-width: 860px) {
  .ponuka .content {
    grid-template-columns: 1fr;
  }
}
.ponuka .content .ponuky {
  display: flex;
  flex-direction: column;
}
.ponuka .content .ponuky h4 {
  text-transform: uppercase;
}
.ponuka .content .ponuky p {
  margin-top: 2.5rem;
  flex: 1;
}
.ponuka .content .ponuky a {
  display: flex;
  gap: 1rem;
  color: #9b2c05;
  text-decoration: none;
  margin-top: 2rem;
  font-weight: 700;
  font-size: 1.1rem;
}
.ponuka .content .ponuky a img {
  height: 1.5rem;
}

.about {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
@media (max-width: 900px) {
  .about {
    margin-top: 3rem;
    gap: 0;
  }
}
.about .content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 1000px) {
  .about .content {
    gap: 1rem;
  }
}
@media (max-width: 800px) {
  .about .content {
    grid-template-columns: 1fr;
  }
}
.about .content .left {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 4rem;
  margin-bottom: 3rem;
}
@media (max-width: 800px) {
  .about .content .left {
    margin-top: 2rem;
  }
}
.about .content .left a {
  text-decoration: none;
  background-color: #9b2c05;
  padding: 0.5rem 1rem;
  color: #f3f1ef;
  font-weight: 600;
  font-size: 1rem;
  width: -moz-min-content;
  width: min-content;
  white-space: nowrap;
  border-radius: 0.3rem;
}
.about .content .right {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.about .content .right .container {
  position: relative;
  padding-left: 2.3rem;
}
@media (max-width: 800px) {
  .about .content .right {
    justify-content: center;
    align-items: center;
  }
}
.about .content .right .square {
  width: 22rem;
  aspect-ratio: 6/4.5;
  background-color: #9b2c05;
}
@media (max-width: 800px) {
  .about .content .right .square {
    width: 70vw;
  }
}
.about .content .right img {
  position: absolute;
  bottom: 2.3rem;
  right: 2.3rem;
  width: 22rem;
}
@media (max-width: 800px) {
  .about .content .right img {
    width: 70vw;
  }
}

footer .top {
  padding: 2rem 0;
  background-color: #f3f1ef;
}
footer .top .inner {
  display: grid;
  gap: 5rem;
  grid-template-columns: repeat(auto-fit, minmax(8em, 14rem));
}
@media (max-width: 600px) {
  footer .top .inner {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 600px) {
  footer .top .inner .footer_logo {
    display: flex;
    justify-content: center;
  }
}
footer .top .inner .footer_logo img {
  height: 11rem;
}
footer .top .inner .nav {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
@media (max-width: 600px) {
  footer .top .inner .nav {
    align-items: center;
  }
}
footer .top .inner .nav a {
  text-decoration: none;
  color: #9b2c05;
  font-weight: 500;
  font-size: 1rem;
}
footer .top .inner .kontakt {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media (max-width: 600px) {
  footer .top .inner .kontakt {
    align-items: center;
  }
}
footer .top .inner .kontakt .phone,
footer .top .inner .kontakt .mail {
  display: flex;
  gap: 1rem;
  align-items: center;
}
footer .top .inner .kontakt .phone div,
footer .top .inner .kontakt .mail div {
  display: flex;
  flex-direction: column;
}
footer .top .inner .kontakt .phone a,
footer .top .inner .kontakt .mail a {
  font-weight: 700;
  color: #9b2c05;
  font-size: 1rem;
  text-decoration: none;
}
footer .top .inner .kontakt .phone img,
footer .top .inner .kontakt .mail img {
  height: 1.4rem;
}
footer .top .inner .kontakt .address {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
}
footer .top .inner .kontakt .address p {
  color: #9b2c05;
  font-weight: 500;
  font-size: 1rem;
}
footer .top .inner .fb {
  display: flex;
  gap: 1rem;
}
@media (max-width: 600px) {
  footer .top .inner .fb {
    justify-content: center;
  }
}
footer .top .inner .fb a {
  font-weight: 700;
  color: #9b2c05;
  font-size: 1rem;
  text-decoration: none;
}
footer .top .inner .fb img {
  height: 1.4rem;
}
footer .footer_bottom {
  padding: 0.9rem 0;
  background-color: #9b2c05;
}
footer .footer_bottom div {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 600px) {
  footer .footer_bottom div {
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
  }
}
footer .footer_bottom div p,
footer .footer_bottom div a {
  color: #f3f1ef;
  font-size: 0.8rem;
}
footer .footer_bottom div img {
  height: 0.6rem;
}
footer .footer_bottom div div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

.banner_text {
  color: #f3f1ef;
  width: 30%;
}
@media (max-width: 1000px) {
  .banner_text {
    text-align: center;
    width: auto;
  }
}

.izby {
  margin: 2rem 0;
}
.izby .inner h2 {
  margin: 1rem 0 2rem 0;
}
.izby .inner .offer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.3rem;
}
@media (max-width: 1050px) {
  .izby .inner .offer {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 700px) {
  .izby .inner .offer {
    grid-template-columns: 1fr;
  }
}
.izby .inner .offer .izba {
  border-radius: 0.3rem;
  padding: 1.2rem 0.9rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  flex-direction: column;
  background-color: #f3f1ef;
}
.izby .inner .offer .izba div {
  gap: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.izby .inner .offer .izba div .opis {
  font-size: 0.9rem;
}
.izby .inner .offer .izba div p {
  text-align: center;
  font-size: 1rem;
}
.izby .inner .offer .izba a {
  width: -moz-min-content;
  width: min-content;
  white-space: nowrap;
  background-color: #9b2c05;
  padding: 0.4rem 1rem;
  border-radius: 0.2rem;
  color: #f3f1ef;
  text-decoration: none;
}

.balicky {
  margin-top: 3rem;
  background-color: #f4c4b8;
  padding: 3rem 0 3.8rem 0;
}
@media (max-width: 700px) {
  .balicky {
    padding: 2.5rem 0 3.3rem 0;
  }
}
.balicky .inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}
.balicky .inner a {
  width: -moz-min-content;
  width: min-content;
  white-space: nowrap;
  background-color: #9b2c05;
  padding: 0.4rem 1rem;
  border-radius: 0.2rem;
  color: #f3f1ef;
  text-decoration: none;
}

.sluzby {
  padding: 3rem 0;
}
.sluzby .sluzby_content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.5rem 5rem;
}
@media (max-width: 850px) {
  .sluzby .sluzby_content {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 600px) {
  .sluzby .sluzby_content {
    grid-template-columns: 1fr;
  }
}
.sluzby .sluzby_content div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.sluzby .sluzby_content div img {
  height: 3.5rem;
}
.sluzby .sluzby_content div h4 {
  text-transform: uppercase;
}
.sluzby .sluzby_content div p {
  text-align: center;
}

.miestnosti {
  padding: 1rem 0;
}
.miestnosti .m_content .miestnost:nth-child(even) {
  background-color: #f3f1ef;
}
.miestnosti .m_content .miestnost {
  border-radius: 0.3rem;
  padding: 2rem;
  margin-bottom: 1.5rem;
  background-color: #f4c4b8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
@media (max-width: 1150px) {
  .miestnosti .m_content .miestnost {
    flex-direction: column;
  }
}
.miestnosti .m_content .miestnost .txt {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
}
.miestnosti .m_content .miestnost .txt h4 {
  text-transform: uppercase;
}
.miestnosti .m_content .miestnost .images {
  display: flex;
  gap: 2rem;
}
@media (max-width: 1150px) {
  .miestnosti .m_content .miestnost .images {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 600px) {
  .miestnosti .m_content .miestnost .images {
    grid-template-columns: 1fr;
  }
}
.miestnosti .m_content .miestnost .images img {
  height: 14rem;
  display: block;
}
@media (max-width: 1150px) {
  .miestnosti .m_content .miestnost .images img {
    height: auto;
    width: 100%;
  }
}

.test {
  height: 100px;
  width: 100px;
  background-color: red;
}

.obdobie {
  padding: 1.8rem 0;
}
.obdobie .inner h2 {
  margin-bottom: 2rem;
}
.obdobie .inner .slider .jeden-slide {
  background-color: #f3f1ef;
  border-radius: 0.3rem;
  padding: 1rem;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}
.obdobie .inner .slider .jeden-slide h5 {
  text-transform: uppercase;
  text-align: center;
  color: #9b2c05;
  font-size: 1rem;
}

.zima {
  margin-top: 2rem;
}

.leto {
  margin-bottom: 4rem;
}

.contacts {
  margin-top: 4rem;
}
.contacts .inner .kontakt_content {
  margin-top: 2rem;
  display: flex;
  gap: 1.5rem;
}
@media (max-width: 1000px) {
  .contacts .inner .kontakt_content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
.contacts .inner .kontakt_content .kontakt_info {
  background-color: #f3f1ef;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.contacts .inner .kontakt_content .kontakt_info .rezervacny_button {
  color: white;
  margin-top: 3rem;
  align-self: center;
}
.contacts .inner .kontakt_content .kontakt_info h4 {
  margin-bottom: 2.1rem;
}
.contacts .inner .kontakt_content .kontakt_info .contact {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 1.3rem;
  margin-top: 1rem;
}
.contacts .inner .kontakt_content .kontakt_info .contact div {
  display: flex;
  flex-direction: column;
}
.contacts .inner .kontakt_content .kontakt_info .contact .web {
  text-decoration: underline;
}
.contacts .inner .kontakt_content p {
  font-weight: 400;
}
.contacts .inner .kontakt_content a {
  font-weight: 400;
  font-size: 1.1rem;
  color: #502718;
  text-decoration: none;
}
@media (max-width: 950px) {
  .contacts .inner .kontakt_content a {
    font-size: 1rem;
  }
}
.contacts .inner .kontakt_content .mapa {
  flex: 1;
}

.rezervacia {
  margin-top: 4rem;
}
.rezervacia .inner .poznamka {
  font-weight: 400;
}
.rezervacia .inner form {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}
@media (max-width: 1000px) {
  .rezervacia .inner form {
    grid-template-columns: 1fr;
  }
}
.rezervacia .inner form .box {
  padding: 2rem 1.5rem;
  background-color: #f3f1ef;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}
.rezervacia .inner form .box .inputy {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 0.6rem 1.2rem;
  width: 100%;
}
@media (max-width: 550px) {
  .rezervacia .inner form .box .inputy {
    font-size: 0.8rem;
  }
}
@media (max-width: 400px) {
  .rezervacia .inner form .box .inputy {
    font-size: 0.7rem;
  }
}
@media (max-width: 370px) {
  .rezervacia .inner form .box .inputy {
    font-size: 0.6rem;
  }
}
.rezervacia .inner form .box .inputy p {
  white-space: nowrap;
  font-weight: 400;
}
@media (max-width: 400px) {
  .rezervacia .inner form .box .inputy p {
    font-size: 0.8rem;
  }
}
.rezervacia .inner form .box .inputy input {
  font-size: 1em;
  border: none;
  padding: 0.18rem;
}
.rezervacia .inner form .box .inputy select {
  padding: 0.18rem;
  font-size: 1em;
  border: none;
}
.rezervacia .inner form .box .textarea {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 100%;
}
.rezervacia .inner form .box .textarea textarea {
  width: 100%;
  padding: 1em;
  font-size: 1em;
  border: none;
}
.rezervacia .inner form .box .rezervovat {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.rezervacia .inner form .box .rezervovat button {
  border: none;
  cursor: pointer;
}

.karuzel {
  margin-top: 4rem;
}

.vek {
  background-color: #f4c4b8;
  padding: 2.5rem 0;
  margin: 2rem 0;
}
.vek .inner h3 {
  margin-bottom: 1.5rem;
}
.vek .inner p {
  text-align: center;
}

.pribeh {
  margin-bottom: 4rem;
  margin-top: 1.8rem;
}
.pribeh .inner h3 {
  margin-bottom: 2rem;
}
.pribeh .inner p {
  margin-bottom: 1.7rem;
  text-align: center;
}/*# sourceMappingURL=style.css.map */